.containerFluid {
	min-height: calc(100vh - 170px);
	height: 100%;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

.tabNavigation {
	display: flex;
	justify-content: flex-end;
	margin: 0 0 40px -10px;
}

.tabNavigation a {
	color: #116355;
	font-size: 17px;
	border: 1px solid;
	border-radius: 0 !important;
	margin-left: 10px;
}

.tabNavigation [class*='active'] {
	background-color: #116355 !important;
}

.dividingLine {
	background-color: #a6a6a6;
	border-color: #a6a6a6;
	margin-top: 40px;
}

.noItemInfo {
	font-size: 17px;
	margin: 30px 0 20px;
}

.noItemInfo a {
	color: #116355;
	font-weight: bold;
	font-size: 18px;
}

.noItemInfo a:hover {
	color: #737373;
	text-decoration: none;
}

@media (max-width: 992px) {
	.containerFluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tabNavigation {
		justify-content: center;
	}

	.tabNavigation a {
		padding: 10px;
	}
}	

@media (max-width: 576px) {
	.tabNavigation {
		flex-direction: column;
		display: inline-block;
		margin: 0 0 20px;
	}

	.tabNavigation a {
		font-size: 16px;
		margin: 0 0 10px;
	}
	
	.noItemInfo {
		margin: 0 0 20px;
	}
}