table {
	background-color: #fff;
	color: #323232;
	text-align: center;
	table-layout: fixed;
	margin: 50px 0 0;
	width: 100%;
}

tr {
	border: 1px solid #323232;
}

tr th {
	font-size: 18px
}

tr td {
	font-size: 17px;
}

tr th:first-child,
tr td:first-child {
	text-align: left;
	width: 47%;
}

tr th:nth-child(3),
tr td:nth-child(3) {
	width: 18%;
}

tr th:nth-child(4),
tr td:nth-child(4) {
	width: 10%;
}

tr th, 
tr td {
	padding: 15px 10px;
}

tbody tr:hover {
	background-color: #0b453b;
	color: #fff;
}

@media (max-width: 992px) {
	table {
		margin-bottom: 15px;
	}

	tr th:nth-child(4) {
		padding: 0;
	}
}

@media (max-width: 768px) {
	table {
		margin: 40px 0 30px;
	}

	tr th {
		font-size: 16px
	}

	tr td {
		font-size: 15px;
	}
}

@media (max-width: 576px) {
	table {
		margin: 40px 0 20px;
	}

	tr th {
		font-size: 15px;
	}

	tr td {
		font-size: 14px;
	}

	tr th, 
	tr td {
		padding: 10px;
	}

	tr th:first-child,
	tr td:first-child {
		width: 37%;
	}

	tr th:nth-child(4),
	tr td:nth-child(4) {
		width: 12%;
	}

	tr th:nth-child(3),
	tr th:nth-child(4) {
		transform: rotate(-90deg);
		text-align: center;
	}

	tr th {
		height: 95px;
	}

	tr th:nth-child(2),
	tr td:nth-child(2),
	tr th:nth-child(3),
	tr td:nth-child(3),
	tr th:nth-child(4),
	tr td:nth-child(4) {
		padding: 0;
	}
}