.navContainer {
	width: 100%;
	position: relative;
	z-index: 1;
}

.navigation {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	min-height: 90px;
}

.toggleButton {
	border: none !important;
	padding: 0;
}

.toggleButton:not(:disabled) {
	outline: none !important;
	margin: 15px 0 10px;
}

.link {
	margin-right: 30px;
}

.link,
.yourProfile {
	text-transform: uppercase;
	position: relative;
	padding-bottom: 5px;
	color: #000;
}

.link:after,
.yourProfile:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '';
	color: transparent;
	background-color: #000;
	height: 1px;
}

.link,
.link:after,
.yourProfile,
.yourProfile:after {
	transition: all 0.4s;
}

.link:hover,
.yourProfile:hover,
.active {
	text-decoration: none;
	color: #000;
}

.link:hover:after,
.yourProfile:hover:after,
.active:after {
	width: 100%;
}

@media (max-width: 992px) {
	.navigation {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 576px) {
	.navContainer {
		background-color: rgba(0,0,0,0.3);
	}

	.navigation {
		min-height: 50px;
	}

	.link {
		margin-right: 0;
	}

	.link,
	.yourProfile {
		text-align: center;
		padding-bottom: 10px;
		color: #000;
	}

	.link:hover:after,
	.yourProfile:hover:after,
	.active:after {
		width: 0;
	}

	.link,
	.link:after,
	.yourProfile,
	.yourProfile:after {
		transition: all 0.1s;
	}

	.active,
	.link:focus,
	.yourProfile:focus {
		color: #fff;
	}
}