@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');

.hero {
	height: 100vh;
	width: 100%;
	background: url('../../../../assets/images/couple.jpg') 12% center/cover;
	position: relative;
	top: -90px;
}

.container,
.welcomeContainer {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.welcomeContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}

.data,
.countdown {
	padding: 0;
	display: flex;
}

.data {
	flex-direction: column;
	justify-content: center;
	font-family: 'Euphoria Script', cursive;
	font-size: 30px;
	font-weight: 600;
}

.countdown {
	align-items: center;
}

.names {
	font-size: 70px;
	color: #516798;
}

.introduction {
	font-size: 20px;
	text-align: justify;
	margin: 70px auto 50px;
}

@media (max-width: 992px) {
	.names {
		font-size: 60px;
	}

	.introduction {
		margin: 50px auto 40px;
	}
}

@media (max-width: 768px) {
	.data {
		text-align: center;
		padding-bottom: 15px;
	}

	.data:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		content: '';
		height: 1px;
		background-color: #737373;
	}

	.countdown {
		padding-top: 15px;
	}
}

@media (max-width: 576px) {
	.hero {
		background: url('../../../../assets/images/coupleSm.jpg') center 30%/cover;
		height: calc(100vh - 50px);
		top: 0;
	}

	.names {
		font-size: 50px;
	}

	.data {
		font-size: 25px;
	}

	.welcomeContainer {
		margin-top: 40px;
	}

	.introduction {
		font-size: 19px;
	}
}