.container {
	position: relative;
	max-width: 960px;
	width: 100%;
	margin: 30px auto 0;
	display: flex;
	justify-content: space-between;
}

.introduction {
	font-size: 18px;
	color: #545454;
	text-align: justify;
	padding: 0;
	margin-bottom: 30px;
}

.introduction p:nth-child(2) {
	margin-bottom: 0;
}

.buttonContainer,
.guestListContainer,
.statisticContainer {
	padding: 0;
}

.RSVPbutton {
	display: inline-block;
	background-color: #116355;
	border: none;
	outline: none;
	line-height: 2.5em;
	padding: 0 0 0 1em;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	font-size: 17px;
}

.arrow {
    display: inline-block;
    line-height: 2.5em;
    text-align: center;
    color: #fff;
    font-size: 1em;
    width: 2.5em;
    transition: margin 0.4s;
    margin-left: .75em;
    font-weight: 600;
    position: relative;
}

.arrow:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	content: '❯';
	background-color: #0b453b;
}

.RSVPbutton:hover,
.RSVPbutton:active {
	background-color: #fcfcfc;
	color: #116355;
	outline: 1px solid #116355;
}

.RSVPbutton:hover .arrow {
	margin-left: 1.4em;
	background-color: #D7A038;
}

.RSVPbutton:active .arrow {
	margin-left: 1.6em;
}

@media (max-width: 768px) {
	.introduction {
		margin-bottom: 15px;
	}
}