.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

.introduction {
	font-size: 18px;
	color: #545454;
	text-align: justify;
	margin-bottom: 50px;
}

.introduction p:nth-child(2) {
	margin-bottom: 0;
}

@media (max-width: 992px) {
	.introduction {
		margin-bottom: 30px;
	}
}