.formContainer {
	margin-top: 20px;
}

.formContainer input,
.formContainer textarea,
.formContainer button {
	border-radius: 0;
}

.formContainer button,
.formContainer button:hover,
.formContainer button:active {
	background-color: #188f7a !important;
	border-color: #188f7a;
}



@media (max-width: 576px) {
	.formContainer {
		margin-top: 0;
	}
}