footer {
	height: 80px;
	line-height: 80px;
	text-align: center;
}

footer a {
	color: #000;
	font-weight: 600;
}

footer a:hover {
	color: #545454;
	text-decoration: none;
}


@media (max-width: 576px) {
	footer {
		height: 50px;
		line-height: 50px;
	}
}